<header id="top-header">
  <span class="siteName">
    <a href="/views/index.ejs" title="Return to home page">CSE Motors</a>
  </span>
  <div id="tools">
    <a href="CSE340/views/account/login.ejs" title="Click to log in">My Account</a>
  </div>
</header>