<% if (title) { %>
    <h1>
        <%= title %>
    </h1>
    <% } %>

        <%- messages() %>

            <div class="hero">
                <img src="/images/site/own_today.png" alt="Own Today">
            </div>

            <section class="vehicle-types">
                <h2>Vehicle Types</h2>
                <div class="grid">
                    <div class="vehicle-type">
                        <a href="/custom">
                            <img src="/images/vehicles/batmobile-tn.jpg" alt="Custom Vehicles">
                            <h3>Custom</h3>
                        </a>
                    </div>
                    <div class="vehicle-type">
                        <a href="/sedan">
                            <img src="/images/vehicles/camaro-tn.jpg" alt="Sedans">
                            <h3>Sedan</h3>
                        </a>
                    </div>
                    <div class="vehicle-type">
                        <a href="/suv">
                            <img src="/images/vehicles/escalade-tn.jpg" alt="SUVs">
                            <h3>SUV</h3>
                        </a>
                    </div>
                    <div class="vehicle-type">
                        <a href="/truck">
                            <img src="/images/vehicles/monster-truck-tn.jpg" alt="Trucks">
                            <h3>Truck</h3>
                        </a>
                    </div>
                </div>
            </section>

            <section class="upgrades">
                <h2>Upgrades</h2>
                <div class="upgrade-list">
                    <div class="upgrade">
                        <img src="/images/upgrades/bumper_sticker.jpg" alt="Bumper Sticker">
                        <p>Bumper Stickers</p>
                    </div>
                    <div class="upgrade">
                        <img src="/images/upgrades/flame.jpg" alt="Flame Decals">
                        <p>Flame Decals</p>
                    </div>
                    <div class="upgrade">
                        <img src="/images/upgrades/flux-cap.png" alt="Flux Capacitor">
                        <p>Flux Capacitors</p>
                    </div>
                    <div class="upgrade">
                        <img src="/images/upgrades/hub-cap.jpg" alt="Hub Caps">
                        <p>Hub Caps</p>
                    </div>
                </div>
            </section>