<main class="main-content error-page">
    <h1><%= title %></h1>
    <div class="error-message">
        <%- message %>
    </div>
    <div class="error-fun">
        <p>Great Scott! Something went wrong and we couldn't find your page.<br>
        Maybe Biff stole it, or the flux capacitor needs a reboot.<br>
        <a href="/">Back to the Home Page</a></p>
        <img src="/images/site/own_today.png" alt="Delorean" style="max-width:200px; margin-top:1rem;">
    </div>
</main>"